[Unit]
Description=PHP orders_change


[Service]
User=www-root
Group=www-root

Type=simple
TimeoutSec=0
PIDFile=/var/run/orders_change.pid
ExecStart=/bin/sh -c '/usr/bin/php -f /home/alex/projects/statistics/artisan orders_change  2>&1 > /home/alex/projects/statistics/orders_change.log'
KillMode=mixed

Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
